
body {
    margin: 0;
    padding-top: 80px; /* hauteur de ta navbar */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;

    background-color: white; /* IMPORTANT */
    transition: all 0.3s ease; /* animation douce */
}

/* Etat quand on scroll */
header.scrolled {
    background-color: rgba(255, 255, 255, 0.85); /* transparence */
    backdrop-filter: blur(10px); /* effet glass moderne */
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


body, header, section, h1, h2,h3, p, hr {
    margin: 0;
    padding: 0;
}

h1{
   font-family: 'Bebas Neue', sans-serif;
   font-size: 45px;
   color: rgb(0, 0, 0);
}
header h1 a {
    color: black;   /* force le noir */
    text-decoration: none;
}

h1 a:hover {
    color: gray;       /* change la couleur au survol */
    cursor: pointer;   /* montre que c’est cliquable */
}


#hero{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 250px;
  color: rgb(0, 0, 0);
  text-align: center; 

}

nav a{
    text-align: right;
    text-decoration: none;
    font-family: 'Bebas Neue',sans-serif;
    color: rgb(0, 0, 0);   
    font-size: 1.65rem;
    margin: 12px;

}

header {
    display: flex;
    justify-content:space-between   ;
    align-items: center;
    padding: 20px 50px;
    margin-bottom: auto;
}

.separator {
    border: none;          
    height: 2px;           
    background-color: #000000; 
    margin-bottom: 175px;
}
/* ===== ------------------------------------------------------------------------SECTION A PROPOS -----------------------------------------------------------------===== */

#a-propos {
    padding: 120px 10%;
}

/* Layout principal */
.apropos-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: wrap;
}

/* Texte */
.apropos-texte {
    flex: 1;
    min-width: 300px;
}

.apropos-texte h1 {
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 30px;
    position: relative;
}

/* petite ligne subtile */
.apropos-texte h1::after {
    content: "";
    width: 80px;
    height: 4px;
    background: #b6b2b2;
    display: block;
    margin-top: 10px;
}

.apropos-texte p {
    font-size: 18px;
    line-height: 1.7;
    color: #444;
    margin-bottom: 20px;
}

/* Zone images */
.apropos-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 250px;
}

/* Encadrés images */
.image-box {
    height: 180px;
    border: 2px solid #b6b2b2;
    border-radius: 10px;
    overflow: hidden; /* IMPORTANT */
}

/* image dans la bannière */
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------*/


address{
    color: #000000;
    margin-top: 90px;
    background-color:white;
    font-size: 18px;
}

.lien_bas{
    color: black;
}



.container {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}

.h3{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 110px;
  color: rgb(0, 0, 0);
  text-align: center; 
  margin-top: 110px;    
}



.infos {
  max-width: 1100px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin-top: 0px;
}

.bloc {
  background: #f5f5f5;        /* léger fond */
  padding: 25px 30px;
  border-radius: 10px;        /* coins doux */
  box-shadow: 0 2px 6px rgba(0,0,0,0.05); /* ombre très légère */
  transition: transform 0.4s ease, box-shadow 0.2s ease;
}



.bloc h2 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  display: inline-block;
  padding-bottom: 5px;
}


.bloc ul {
  padding: 0;
  margin: 0;
}

.bloc li {
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 5px;
}


@media (max-width: 900px) {
  .infos {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}



.timeline {
  position: relative;
  max-width: 850px;     /*largeur des carre dans formations */
  margin: 50px auto;
  padding: 20px 0;
}

/* Trait vertical */
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%; /* centré */
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: #000000; /* bleu */
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
  left: 0;
}

.timeline-item:nth-child(even) {
  left: 50%;
}

/* Cercle de l'événement */
.timeline-item::before {
  content: '';
  position: absolute;
  top: 30px;
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 50%;
  border: 3px solid white;
  z-index: 1;
}

.timeline-item:nth-child(odd)::before {
  right: -10px;
}

.timeline-item:nth-child(even)::before {
  left: -10px;
}

/* Contenu des événements */
.content {
    width: 90%;              /* augmente la largeur du bloc */
    max-width: 400px;        /* limite la largeur maximale */
    padding: 15px 20px;      /* ajustement padding */
    background-color: #f0f0f0;
    border-radius: 6px;
}




/* Style de l'adresse */
.contact-info {
    text-align: center;        /* centré */
    font-style: normal;        /* pas italique par défaut */
    font-size: 1rem;
    line-height: 1.6;          /* espace entre les lignes */
    color: #333;               /* couleur professionnelle */
    margin: 40px 0;
}

.contact-info strong {
    color: #000;               /* mettre en évidence les titres */
}

.contact-info a.lien-bas {
    color: #3498db;            /* couleur bleue professionnelle */
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a.lien-bas:hover {
    color: #1d6fa5;            /* couleur au survol */
}

/* Pied de page */
#footer {
    text-align: center;
    font-size: 0.9rem;
    color: #000000;               /* gris doux pour moins de contraste */
    padding: 20px 0;
    border-top: 1px solid #ddd; /* séparateur léger */
}

/*-------------------------------------------------------------------------PROJETS------------------------------------------------------------------*/
.projets {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 40px 100px 40px;
}

/* Carte projet */
.element-projet {
    background: #f2f2f2;
    width: 500px;
    padding: 30px;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
    min-height: 300px;
}

/* Effet hover moderne */
.element-projet:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

/* Titre projet */
.element-projet h1 {
    font-family:serif;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: center;
}

/* Description */
.element-projet p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}





#logo_Poulard{
    width: 110px;
    height: 110px;
    margin-left: 370px;
}

#logo_bd{
    width: 110px;
    height: 110px;
    margin-left: 370px;
}


#logo_IA{
    width: 130px;
    height: 130px;
    margin-left: 370px;


}

.contactez-moi {
    width: 100%;
    min-height: 30vh;         /* hauteur de la fenêtre */
    background-color: #f2f2f2;    
    color: #000000;            
    text-align: center;
    
    display: flex;             
    flex-direction: column;    
    justify-content: center;   /* centrage vertical */
    align-items: center;       /* centrage horizontal */
    
    padding: 20px;             /* padding général */
    box-sizing: border-box;
    margin-bottom: 75px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

/*----------------------------------------RESPONSIVE---------------------------------------------------*/


@media (max-width: 768px) {

  /* HERO */
  #hero {
    font-size: 70px;
    padding: 20px;
  }


  h1 {
    font-size: 32px;
    text-align: center;
  }

  .h3 {
    font-size: 55px;
    margin-top: 60px;
  }

  /* HEADER */
  header {
    flex-direction: column;
    gap: 15px;
  }

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

  /* A PROPOS */
  #a-propos {
    padding: 80px 20px;
  }

  .apropos-images {
    flex-direction: column;
  }

  /* INFOS GRID */
  .infos {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  /* PROJETS */
  .projets {
    padding: 0 20px 60px 20px;
  }

  .element-projet {
    width: 100%;
  }

  /* LOGO */
  #logo_Poulard {
    margin-left: 0;
    display: block;
    margin: 20px auto;
  }

  #logo_bd{
    margin-left: 0;
    display: block;
    margin: 20px auto;
  }

}













/* Icônes sociales */
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 8px;
    transition: transform 0.3s, opacity 0.3s;
}

#linkedin {
    width: 50px;
    height: 50px;
}
#github{
  width: 90px;
  height: 50px;
}

/* Effet au survol cohérent avec ton style */
.social-icons a:hover {
    transform: translateY(-2px);
    opacity: 0.8;
}


